//プルクォート
.wp-block-pullquote {
    width: 100%;
    padding: 1em 0;
    text-align: center;
    border-top: solid 3px #666;
    border-bottom: solid 3px #666;

    &.alignleft {
        text-align: left;
    }

    &.alignright {
        text-align: right;
    }

    & > blockquote {
        margin: 0;
        padding: 1em;
        background: none;

        &::before,
        &::after {
            content: none !important;
        }
    }

    p {
        font-size: 1.2em !important; //align付きやsolid styleで上書きされてしまう
    }

    a {
        text-decoration: underline;
    }
}
