.wp-block-image {
    text-align: center;

    img {
        vertical-align: bottom; //下部の隙間なくす
    }

    &.is-resized {
        display: block;
        width: 100%;
    }

    [data-align] > &.is-resized {
        width: auto;
    }

    // align ついたら .wp-block-image > figure になる
    figure {
        display: block !important;
    }

    figcaption {

        @extend %figcaption;

        a {
            display: inline;
        }

    }

    &::after {
        display: block;
        clear: both;
        height: 0;
        visibility: hidden;
        content: "";
    }

    a {
        display: block;
        transition: opacity .25s;

        &:hover {
            opacity: .8;
        }
    }
}

/*
    以下、Tinyと共通項目含む。
*/

//キャプション付き画像（TinyMCE）
.wp-caption {
    width: 100%;
    max-width: 100%;
    text-align: center;
}

.wp-caption-text {
    margin-top: 1em;
    font-size: .8em;
    opacity: .8;
}

img.aligncenter {
    display: block;
    clear: both;
    margin-right: auto;
    margin-left: auto;
}

img.border,
.is-style-border > img,
.is-style-border > video {
    border: solid 1px rgba(0, 0, 0, .1);
}

img.photo_frame,
.is-style-photo_frame > img,
.is-style-photo_frame > video {
    border: solid 4px #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);

    @include pc {
        border: solid 6px #fff;
    }
}


img.shadow,
.is-style-shadow > img,
.is-style-shadow > video {
    box-shadow: var(--swl-img_shadow);
}

img.size_s,
.size_s img {
    display: block;
    max-width: 92%;
    margin: auto;
}

img.size_xs,
.size_xs img {
    display: block;
    max-width: 72%;
    margin: auto;
}
