
.block-editor-block-toolbar {

    .swell-format-toolbar {
        order: 10;
        border-left: solid 1px #1e1e1e;

        > .components-toolbar-group {
            // padding-right: 4px;
            // padding-left: 4px;

            // ショートコードボタン、常に同じサイズ感に固定する
            > .components-dropdown + .components-dropdown:not(:last-child) > button {
                min-width: 36px;
                padding-right: 6px;
                padding-left: 6px;

                &::before {
                    right: 2px;
                    left: 2px;
                }
            }

            > .components-button.has-icon .dashicon {
                margin-right: 0;
                margin-left: 0;
            }

            > .components-dropdown + .components-button:first-of-type:last-of-type {
                padding-left: 2px !important;

                &::before {
                    right: 14px !important;
                    left: 2px !important;
                }
            }
            // > .components-button {
            //     min-width: 42px !important;
            //     padding-right: 4px !important;
            //     padding-left: 4px !important;
            // }
        }

        .components-dropdown-menu__indicator + .components-dropdown-menu__indicator {
            display: none;
        }
    }

    // ブロックツールバー
    .swell-toolbar {
        order: 10;
    }
}

// フォントサイズのulがスクロールされないように
.components-inline-color-popover {

    .components-popover__content {
        overflow: visible;
    }

    &.-swl-fz {

        .components-button-group {
            display: flex;
            width: 100%;
            margin-bottom: 8px;
            padding-top: 8px;

            .components-button {
                display: block;
                flex-basis: 25%;
                letter-spacing: .5px;
                text-align: center;
            }

            .-xs {
                flex-basis: 23%;
                font-size: 10px;
            }

            .-s {
                font-size: 12px;
            }

            .-l {
                font-size: 16px;
            }

            .-xl {
                flex-basis: 27%;
                font-size: 18px;
            }
        }
    }

    .swell-clearBtnWrap {
        text-align: right;
    }
}


// スマホでツールバー小さく
.editor-block-contextual-toolbar {

    .components-dropdown-menu {
        padding: 0;
    }
}

// ツールバーアイコンたちの色
svg.marker_orange {
    fill: var(--color_mark_orange);
}

svg.marker_blue {
    fill: var(--color_mark_blue);
}

svg.marker_green {
    fill: var(--color_mark_green);
}

svg.marker_yellow {
    fill: var(--color_mark_yellow);
}


// svg.fill_col_red {
//     background: var(--color_font_red);
//     fill: #fff;
// }

// svg.fill_col_blue {
//     background: var(--color_font_blue);
//     fill: #fff;
// }

// svg.fill_col_green {
//     background: var(--color_font_green);
//     fill: #fff;
// }

// svg.fill_col_main {
//     background: var(--color_main);
//     fill: #fff;
// }


// 背景色のバッジにフォーカス時の色
.rich-text:focus {

    .swl-bg-color[data-rich-text-format-boundary] {
        opacity: .8;
    }

    .has-black-background-color[data-rich-text-format-boundary] {
        background-color: #333;
        opacity: .8;
    }

    .fill_col_main[data-rich-text-format-boundary],
    .has-swl-main-background-color[data-rich-text-format-boundary] {
        background-color: var(--color_main);
        opacity: .8;
        filter: grayscale(20%);
    }

    .fill_col_red[data-rich-text-format-boundary],
    .has-swl-deep-01-background-color[data-rich-text-format-boundary] {
        background-color: var(--color_deep01);
        opacity: .8;
        filter: grayscale(20%);
    }

    .fill_col_blue[data-rich-text-format-boundary],
    .has-swl-deep-02-background-color[data-rich-text-format-boundary] {
        background-color: var(--color_deep02);
        opacity: .8;
        filter: grayscale(20%);
    }

    .fill_col_green[data-rich-text-format-boundary],
    .has-swl-deep-03-background-color[data-rich-text-format-boundary] {
        background-color: var(--color_deep03);
        opacity: .8;
        filter: grayscale(20%);
    }

    .has-swl-deep-04-background-color[data-rich-text-format-boundary] {
        background-color: var(--color_deep04);
        opacity: .8;
        filter: grayscale(20%);
    }

}
