.tr-custom-format-set {

    th {
        min-width: 13em;
    }

    .swell-menu-set {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .__settings {
        margin-right: 16px;
    }

    .__field {
        display: flex;
        margin-bottom: 16px;
    }

    .__ttl {
        min-width: 12em;
        font-weight: bold;
    }

    .__choices {
        display: none;
        line-height: inherit;
    }

    [data-is-enable="1"] .__choices {
        display: flex;
        flex-wrap: wrap;
    }

    .__label {
        width: 30px;
        height: 30px;
        margin: 0 8px 8px 0;

        span {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            font-size: 0;
            border-radius: 50%;
            box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2);

            &::after {
                position: absolute;
                top: -3px;
                right: -3px;
                bottom: -3px;
                left: -3px;
                border: 3px solid transparent;
                border-radius: 50%;
                content: "";
            }
        }

        input:checked + span::after {
            border: 3px solid #757575;
        }
    }

    .__fontsize {
        margin: 0 16px 0 0;
    }

    .__preview {
        max-width: 300px;
        text-align: center;

        span {
            padding: .25em .5em;
            border-radius: 1px;
        }
    }
}

.tr-custom-format {

    .__tr {
        align-items: center;

        + .__tr {
            margin-top: 8px;
        }

        span {
            min-width: 5em;
        }
    }
}


.__settings.-codemirror {

    // 実際表示されるのは.CodeMirror
    textarea,
    .CodeMirror {
        box-sizing: border-box;
        width: 100%;
        height: 50vh;
        min-height: 25vh;
        font-size: 14px;
        border: 1px solid #ddd;
    }
}
