
tr.btn_colors,
tr.btn_radius {

    // @media (min-width: 1160px) {
    //     width: 56%;
    //     margin-right: 20%;
    // }

    th {
        min-width: 8em;
    }

}

@media (min-width: 1160px) {

    .swell_settings__body #btn .form-table {

        tbody {
            display: grid;
            grid-template-rows: auto 1fr;
            grid-template-columns: 1fr 44%;
        }

        tr.btn_preview {
            grid-row: 1 / 3;
            grid-column: 2 / 3;

            th {
                display: none;
            }
        }

        .-preview {
            margin-top: 0;
        }
    }
}

// tr.btn_preview {

//     @media (min-width: 1160px) {

//         position: absolute;
//         top: 0;
//         right: 0;
//         width: 44%;

//     }
// }

tr.btn_radius {


    .__field {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .__btnName {
            position: relative;
            min-width: 7.5em;
            font-size: 13px;

            @include tab {

                &::after {
                    position: absolute;
                    top: 0;
                    right: 8px;
                    content: ":";
                }
            }

            @include mobile {
                width: 100%;
                padding: 8px 0 0;
            }

        }
    }

    .__radioLabel {
        display: block;
        padding: 4px;
    }

    .__btn {
        display: block;
        padding: .5em 1em;
        font-size: 12px;
        border: solid 1px #ccc;
    }

    :checked + .__btn {
        color: #fff;
        background: #007cba;
        border-color: #007cba;
    }

    .__radius_4px {
        border-radius: 4px;
    }

    .__radius_80px {
        border-radius: 80px;
    }
}

.swell-menu-btn {

    .__field {
        width: 100%;
        margin-bottom: 4px;

        &.-btnColor {
            display: flex;
            flex-wrap: wrap;

            .wp-picker-container {

                @include mobile {
                    width: 100%;
                }
            }
        }
    }

    // カラーピッカーアクティブな時だけ
    .wp-picker-active {
        margin-bottom: 16px;
    }

    .__colorName {
        margin-right: 8px;

        // @include mobile {
        //     width: 100%;
        // }
    }

    .__label {
        display: inline-block;
        min-width: 5em;
        margin-top: 4px;
        font-size: 13px;
    }

    &.-preview {
        display: flex;
        flex-wrap: wrap;
        margin-top: 24px;
    }

    .__preview {
        margin-right: 8px;
        margin-bottom: 40px;
        margin-left: 2px;
        padding: 24px 8px;
    }

    .__prevRow {
        display: flex;
        justify-content: center;
    }

    .swell-block-button {
        margin: 0 8px 0;
        font-size: 14px;
    }

    .is-style-btn_normal.red_ a,
    .is-style-btn_shiny.red_ a {
        background: var(--color_btn_red);
    }

    .is-style-btn_normal.blue_ a,
    .is-style-btn_shiny.blue_ a {
        background: var(--color_btn_blue);
    }

    .is-style-btn_normal.green_ a,
    .is-style-btn_shiny.green_ a {
        background: var(--color_btn_green);
    }


}

.-btnColor .wp-picker-container + .wp-picker-container {
    display: none;
}

[data-is-grad="1"] {

    .-btnColor .wp-picker-container + .wp-picker-container {
        display: initial;
    }

    .is-style-btn_normal.red_ a,
    .is-style-btn_shiny.red_ a {
        background: linear-gradient(100deg, var(--color_btn_red) 0%, var(--color_btn_red2) 100%);
    }

    .is-style-btn_normal.blue_ a,
    .is-style-btn_shiny.blue_ a {
        background: linear-gradient(100deg, var(--color_btn_blue) 0%, var(--color_btn_blue2) 100%);
    }

    .is-style-btn_normal.green_ a,
    .is-style-btn_shiny.green_ a {
        background: linear-gradient(100deg, var(--color_btn_green) 0%, var(--color_btn_green2) 100%);
    }

}
