@import "./common/text_style";
@import "./common/box_style";
@import "./common/color_palette"; //優先度高くするため、最後に

// フロントで読み込む
.post_content {
    max-width: 100%;
    margin: 4em 0;
    padding: 0;
    line-height: 1.8;

    @include pc {
        padding: 0 16px;
    }

    //各要素のマージン
    > * {
        clear: both;
        margin-bottom: 2em;
    }

    > a:hover {

        img {
            opacity: .8;
        }
    }

    //マージンでかめ
    .wp-block-embed, //埋め込み
    .wp-block-columns, //カラム
    .wp-block-table, //テーブル
    .cap_box {
        margin: 3em auto;
    }

    [class*="is-style-big_icon_"] {
        margin-top: 2.5em;
    }

    //divの中身の調節
    > :first-child,
    div > :first-child {
        margin-top: 0 !important;
    }

    > :last-child,
    div > :last-child,
    dd > :last-child {
        margin-bottom: 0 !important;
    }

    @import "./common/post_content";

    #sidebar & {
        margin: 0;
        padding: 0;
    }

    //ブログパーツ呼び出し時の.post_content
    &.p-blogParts {
        margin: 0 0 2em;
        padding: 0;

        //ウィジェットで使われた時など
        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

}

// .wp-block-table {
//     th,
//     td {
//         &:not([data-align]) {
//             text-align: left;
//         }
//     }
// }


// インナーブロック内のコンテンツは 小さめのマージン で。
div[class*="is-style-"], //tinyMCE と 昔の 「スタイルブロック」用
.wp-block-group__inner-container,
.c-tabBody__item, //タブコンテンツ
.wp-block-column, //カラム
.cap_box_content, //キャプブロック
.swell-block-dl__dd, //DLブロック
.wp-block-cover__inner-container, //カバーブロック
.wp-block-media-text__content, //メディアと文章ブロック
.swell-block-accordion__body,  //アコーディオン
.swell-block-step__body, //ステップブロック
.faq_a,
.swl-has-mb--s {

    > * {
        margin-bottom: 1em;
    }
}

// フルワイドは 2em に戻す。
.full_wide_content,
.swell-block-fullWide__inner, //フルワイド
.alignfull > .wp-block-group__inner-container,
.alignfull > .wp-block-cover__inner-container {

    > * {
        margin-bottom: 2em;
    }
}

/*
    フロントだけで使用するスタイル
 */
//  アコーディオン
.swell-block-accordion__title {
    cursor: pointer;
}
