@charset "UTF-8";

// ウィジェット基本
.c-widget {

    + .c-widget {
        margin-top: 2em;
    }

    p:empty::before {
        content: none;
    }

    .textwidget > :not(:last-child) {
        margin-bottom: 1em;
    }
}

.c-widget__title {
    position: relative;
    margin-bottom: 1.5em;
    overflow: hidden;
    font-weight: bold;
    font-size: 4vw;

    @include tab {
        font-size: 16px;
    }

    &::before,
    &::after {
        position: absolute;
        z-index: 0;
        display: block;
        box-sizing: inherit;
        height: 1px;
    }
}


//投稿カウント数
.post_count,
.tag-link-count,
.cat-post-count {
    position: relative;
    right: -1px;
    color: #666;
    font-size: 3vw;

    @include tab {
        font-size: 13px;
    }
}

.cat-post-count {
    margin-left: 4px;
}


// ul の list-style, padding を打ち消す
.wp-block-rss,
.wp-block-categories-list,
.wp-block-archives-list,
.wp-block-latest-posts,
.wp-block-latest-comments {
    padding: 0 !important;
    list-style: none !important;
}
