
.c-postTimes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.c-postTimes__posted,
.c-postTimes__modified {
    margin-right: .5em;

    &::before {
        position: relative;
        top: 1px;
        margin-right: .25em;
        // padding-left: 1px; //時計アイコンの左端がなんか途切れる
        // -webkit-font-smoothing: antialiased;
        // -moz-osx-font-smoothing: grayscale;
    }
}

