
// .post_content{} でラップするスタイル。

//---------------------------------------
// 見出し系
//---------------------------------------
h1 {
    font-size: 2em;
}

// h2の 左右のマイナスは、.post_content の padding と合わせている
h2 {
    // font-size: 4.8vw;
    position: relative;
    z-index: 1;
    margin: 4em 0 2em;
    font-size: 1.2em;
    line-height: 1.4;

    @include tab {
        margin: 4em 0 2em;
        font-size: 1.4em;
    }

}

> h2 {
    margin-right: -2vw;
    margin-left: -2vw;

    @include tab {
        margin-right: -16px;
        margin-left: -16px;
    }
}

h3 {
    position: relative;
    margin: 3em 0 2em;
    font-weight: bold;
    // font-size: 4.5vw;
    font-size: 1.1em;
    line-height: 1.4;

    @include tab {
        // margin: 3em 0 2em;
        font-size: 1.3em;
    }

    &::before {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 0;
        display: block;
    }
}

h4 {
    position: relative;
    margin: 3em 0 1.5em;
    // font-size: 4vw;
    font-size: 1.05em;
    line-height: 1.4;

    @include tab {
        font-size: 1.2em;
    }
}

h2,
h3,
h4,
dt {
    font-weight: bold;
}

.is-style-section_ttl {
    position: relative;
    padding: 0;
    color: inherit;
    letter-spacing: .2px;
    text-align: center;
    background: none;
    border: none;
    border-radius: 0;

    // 通常の h2 のスタイルに影響されないように。
    &::before,
    &::after {
        border: none;
        content: none;
    }

    &.has-text-align-left {
        text-align: left;
    }

    &.has-text-align-right {
        text-align: right;
    }
}

.is-style-section_ttl small {
    display: block;
    padding-top: .25em;
    font-size: .6em;
    // letter-spacing: .2px;
}

//横線
hr {
    margin: 2.5em 0;
    border: none;
    border-bottom: solid 1px rgba(0, 0, 0, .1);
}


//引用
blockquote {
    position: relative;
    background: var(--color_gray);

    &.is-style-large {
        padding: 1.5em 3em;

        // コアのスタイルでrightにされてる
        cite {
            text-align: inherit;
        }
    }

    cite {
        display: block;
        margin-top: .75em;
        font-size: .8em;
        opacity: .8;
    }

    p {
        position: relative;
        z-index: 1;
        margin: .5em 0;
    }

    &::before,
    &::after {
        position: absolute;
        z-index: 0;
        line-height: 1;
    }
}

// pre
pre {
    padding: .5em 0;
    overflow-x: auto;
}


table {
    width: 100%;
    max-width: 100%;
    line-height: 1.5;
    text-align: left;
    border: none;
    border-spacing: 0;

    caption {
        padding: .5em;
        font-size: .9em;
        opacity: .8;
    }
}

th,
td {
    min-width: var(--swl-minwidth-cell, 0px);
    padding: .5em .75em;
    vertical-align: top;
    background-clip: padding-box;
    border-top: solid 1px #ededed;
    border-left: solid 1px #ededed;

    &:last-child {
        border-right: solid 1px #ededed;
    }
}

tr:last-child > td {
    border-bottom: solid 1px #ededed;
    // border-right: solid 1px #ededed;
}

thead {

    td,
    th {
        color: #fff;
        background-color: var(--color_main);
    }
}


// th要素の背景を濃くする（左端固定を考慮して擬似要素で色付けしている）
tbody th,
.td_to_th_ tbody tr > :first-child {
    position: relative;
    font-weight: bold;

    &::before {

        @extend %absLayer;
        background-color: var(--swl-color_hov_gray);
        pointer-events: none;
    }
}

.min_width10_ {

    --swl-minwidth-cell: 80px;

    @include sp {
        --swl-minwidth-cell: 10vw;
    }
}

.min_width20_ {

    --swl-minwidth-cell: 160px;

    @include sp {
        --swl-minwidth-cell: 20vw;
    }
}

.min_width30_ {

    --swl-minwidth-cell: 240px;

    @include sp {
        --swl-minwidth-cell: 28vw;
    }
}

//---------------------------------------
// テキスト装飾
//---------------------------------------
//インラインコード
:not(pre) > code {
    display: inline-block;
    margin: 0 .5em;
    padding: .25em .5em;
    color: #333;
    font-size: .9em;
    font-family: Menlo, Consolas, "メイリオ", sans-serif;
    line-height: 1; //beforeのアイコンと合わせる
    letter-spacing: 0;
    background: #f7f7f7;
    border: solid 1px rgba(0, 0, 0, .1);
    border-radius: 2px;
}

small {
    font-size: .8em;
    opacity: .8;
}


//---------------------------------------
// リスト
//---------------------------------------
ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

ul,
ol {
    // margin-left: 0;
    padding-left: 1.5em;

    &.has-background {
        padding: 1.5em 1.5em 1.5em 3em;
    }

    ul {
        // margin-left: 0;
        padding-left: 1.5em;
        list-style: circle;
    }

    ol {
        // margin-left: 0;
        padding-left: 1.5em;
    }
}


// swell
li {
    position: relative;
    margin: .25em 0;
    line-height: 1.5;

    ul,
    ol {
        // margin: 0 !important;
        margin: 0;
    }
}
