.c-categoryList::before,
.c-tagList::before {

    @extend %swellicon;
}

.c-categoryList {

    color: var(--color_main); //アイコンをメインカラーにしたい
    &::before {
        margin-right: .5em;

        @extend .icon-folder::before;
    }
}

.c-tagList {

    &::before {
        margin-right: .5em;
        color: inherit;
        content: "\e935";
    }
}


.c-categoryList__link,
.c-tagList__link {
    display: block;
    margin: .25em .25em .25em 0;
    padding: 4px .5em;
    line-height: 1;
}

.c-tagList__link {
    color: #333;
    background: #f7f7f7;
}

.c-categoryList__link {
    color: #fff;
    background-color: var(--color_main);
}


.l-mainContent .c-categoryList__link.-current {
    color: inherit;
    background: none;
    box-shadow: inset 0 0 0 1px currentColor;
}

.l-topTitleArea .c-categoryList__link.-current {
    padding: 0;
    border: none;
}

.c-categoryList__separation {
    display: block;
    margin: .25em .25em .25em 0;
    padding: 4px .5em;
    line-height: 1;

    &::after {

        @extend %breadcrumb_separation;
        position: relative;
        left: -2px;
    }
}
