//画像フィルター
.c-filterLayer {
    // position: relative;
    z-index: 0;

    &::before {

        @extend %absLayer;
        z-index: 1;
    }

    &::after {

        @extend %absLayer;
        z-index: 2;
        display: block;
    }

    &.-texture-dot::after {
        background-color: rgba(0, 0, 0, .1);
        background-image: url(../img/texture/dot.png);
        background-size: 2px;
        opacity: .5;

    }

    &.-texture-brushed::after {
        background-image: url(../img/texture/brushed-alum.png);
        opacity: .8;
    }

}

.c-filterLayer__img {

    @extend %absLayer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    backface-visibility: hidden;
    // transform: perspective(0);
    & > img {
        width: 100%;
    }

    .-filter-blur > & {
        top: -4px;
        left: -4px;
        width: calc(100% + 8px);
        height: calc(100% + 8px);
        filter: blur(4px);
        // transform: translateX(-4px) translateY(-4px);  // animationでtransform使う
    }

    .-filter-glay > & {
        filter: grayscale(60%);
    }
}
