.c-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    transition: opacity .5s, visibility .5s;

    [data-loaded="false"] & {
        display: none;
    }

    &:not(.is-opened) {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
    }

    // &.is-opened {
    //     visibility: visible;
    //     opacity: 1;
    // }
}
