.c-infoBar__btn {

    @extend %shinyBtn;

    display: block;
    width: auto;
    min-width: 1em;
    margin-left: 1em;
    padding: 0 1em;
    color: #fff;
    font-size: .95em;
    line-height: 2;
    border-radius: 40px;
    box-shadow: 0 2px 4px $color_shadow;
}

.c-infoBar::before {

    @extend %absLayer;
}
