// タイトルカウント（クラシック）
#titlewrap {
    position: relative;

    &::before {
        position: absolute;
        top: -25px;
        right: 0;
        z-index: -1;
        padding: 0 8px;
        font-size: 12px;
        line-height: 2;
        background: #eee;
        border: solid 1px #ddd;
        content: "文字数 : " attr(data-txtct);
    }
}
