@charset "UTF-8";
@import "../foundation/variable";
@import "../foundation/mixin/media";
@import "../foundation/placeholder";

// プレビュー用
@import "../object/parts/balloon";

.toplevel_page_swell_balloon {
    background: #fefefe;
}

// ふきだし一覧ページ
.swl-setting-balloon {

    &[disabled] {
        opacity: .5;
        pointer-events: none;
    }

    @media (min-width: 600px) {

        .c-balloon__icon {
            width: 72px;
        }

        .c-balloon .c-balloon__iconImg {
            width: 72px;
            height: 72px;
        }
    }

    .c-balloon__text {
        font-size: 12px;
    }

    .c-balloon__iconName:empty::before {
        content: "\00a0";
    }

    .swl-setting__search {
        margin-left: auto;
    }
}


.swl-setting-balloon__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px 2em;
}


.swl-setting-balloon__item {
    position: relative;
    width: 33.3%;
    margin-bottom: 32px;
    padding: 0 12px;

    @media screen and (max-width: 1500px) {
        width: 50%;
    }

    @media screen and (max-width: 782px) {
        width: 100%;
    }
}

.swl-setting-balloon__item__inner {
    position: relative;
    // overflow: hidden;
    // border-radius: 6px;
}

// .swl-setting-balloon__item__head {
//     display: flex;
//     align-items: center;
//     padding: 8px;

//     .swl-setting-balloon__btns {
//         flex-shrink: 0;
//         margin-left: auto;
//     }
// }

.swl-setting-balloon__arrow {
    position: absolute;
    top: 50%;
    z-index: 2;
    width: 26px;
    min-width: 0 !important;
    height: 26px;
    margin-top: -13px;
    padding: 0;
    background-color: #fefefe !important;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px currentColor;
    visibility: hidden;
    opacity: 0;
    transition: opacity .25s;

    .swl-setting-balloon__item__inner:hover & {
        visibility: visible;
        opacity: 1;
    }

    &.-prev {
        left: -13px;
    }

    &.-next {
        right: -13px;
    }
}

.swl-setting-balloon__btns {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 8px;
}

.swl-setting-balloon__btn {
    width: 26px;
    min-width: 0 !important;
    height: 26px;
    background-color: #fefefe !important; // ショートコード表示中もボタン表示するので
    border-radius: 50%;
}

.swl-setting-balloon__copy {
    margin: 0 6px;
}

.swl-setting-balloon__delete {
    z-index: 1;
}

.swl-setting-balloon__copyBtn {
    padding: 6px;
    box-shadow: inset 0 0 0 1px currentColor;
}

.swl-setting-balloon__link {
    position: relative;
    display: block;
    width: 100%;
    padding: 8px 12px;
    color: inherit;
    text-decoration: none;
    background: #fdfdfd;
    border-radius: 6px;
    box-shadow: 0 2px 16px -2px rgba(0, 0, 0, .1);
    transition: box-shadow .25s;

    .swl-setting-balloon__item__inner:hover & {
        color: inherit;
        box-shadow: 0 2px 24px -2px rgba(0, 0, 0, .2);
    }
}

.swl-setting-balloon__ttl {
    min-height: 28px;
    margin-right: 95px;
    margin-bottom: 12px;
    font-size: 14px;
    word-break: break-all;
}

.swl-setting-balloon__code {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 12px;
    background-color: rgba(#000, .5);
    border-radius: 6px;
    visibility: hidden;
    opacity: 0;
    transition: opacity .25s;

    .swl-setting-balloon__item.show-code & {
        visibility: visible;
        opacity: 1;
    }

    .swl-setting__codeCopyBox {
        width: calc(100% - 16px);
        border: none;
    }
}


// 新規追加・編集ページ
.swell_settings_balloon_edit {
    margin-bottom: 32px;
    // padding: 32px;
    background: #fdfdfd;
    border-radius: 2px;
    // box-shadow: 0 2px 4px rgba(0,0,0,0.1);

    &[disabled] {
        opacity: .5;
        pointer-events: none;
    }

    @media (min-width: 1200px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }


    .c-balloon__text {
        pointer-events: none;
    }

    .c-balloon__icon {
        width: 80px !important;

        img {
            width: 80px !important;
            max-width: 80px !important;
            height: 80px !important;
        }
    }

    .swell_settings_balloon_edit__iconSelect {
        position: absolute;
        left: 0;
        width: 80px;
        height: 80px;
        padding: 0;
        box-shadow: none;

        span {
            position: absolute;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            color: #fff;
            font-size: 12px;
            letter-spacing: .5px;
            background-color: rgba(0, 0, 0, .5);
            visibility: hidden;
        }

        &:hover span {
            visibility: visible;
        }
    }


    .swell_settings_balloon_edit__iconDelete {
        position: absolute;
        top: -13px;
        right: -13px;
        z-index: 10;
        width: 26px;
        min-width: 0 !important;
        height: 26px;
        padding: 0;
        background: #fff;
        border-radius: 50%;

        // &.is-destructive:focus:not(:disabled) {
        //     color: #cc1818;
        //     box-shadow: inset 0 0 0 1px #cc1818;
        // }
    }

    .c-balloon:not(:hover) .swell_settings_balloon_edit__iconDelete {

        @media (min-width: 1200px) {
            display: none;
        }
    }

}

.swell_settings_balloon_edit__inner {

    @media (min-width: 1200px) {

        &.-left {
            flex-basis: 440px;
            padding: 8px;
        }

        &.-right {
            display: flex;
            flex-basis: calc(100% - 500px);
            flex-wrap: wrap;
            align-content: flex-start;
        }
    }
}


.swell_settings_balloon_edit__item {
    min-width: 40%;
    margin-right: 8px;
    padding: 16px 0;
}

.swell_settings_balloon_edit__subttl {
    margin: 0 0 1em;
    padding: 0 0 0 8px;
    padding-left: 8px;
    font-weight: bold;
    font-size: inherit;
    border-left: solid 2px #04384c;
}

