@charset "UTF-8";
@import "../foundation/variable";
@import "../foundation/mixin/media";
@import "../foundation/placeholder";

// プレビュー用
@import "../object/parts/balloon";

.toplevel_page_swell_balloon {
    background: #fefefe;
}

// 一覧ページ
.swell_settings_balloon {

    &[disabled] {
        opacity: .5;
        pointer-events: none;
    }

    .swell_settings__codeCopyBox {
        position: absolute;
        bottom: 0;
        left: 8px;
        width: calc(100% - 16px);
    }

}

.swell_settings_balloon__search {
    width: 100%;
    max-width: 500px;
    margin-bottom: 32px;
}

.swell_settings_balloon__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px 2em;
}

.swell_settings_balloon__item {
    position: relative;
    width: 33.3%;
    margin-bottom: 32px;
    padding: 0 8px 40px;

    @media screen and (max-width: 782px) {
        width: 100%;
    }
}

.swell_settings_balloon__link {
    display: block;
    height: 100%;
    padding: 12px;
    color: inherit;
    text-decoration: none;
    background: #fdfdfd;
    border-radius: 2px;
    box-shadow: 0 2px 4px $color_shadow;

    &:hover {
        color: inherit;
    }
}

.swell_settings_balloon__ttl {
    margin-bottom: 1em;
    padding-right: 30px;
    font-weight: bold;
    font-size: 16px;
}

.swell_settings_balloon__delete {
    position: absolute;
    top: 8px;
    right: 16px;
    z-index: 1;
    width: 26px;
    min-width: 0 !important;
    height: 26px;
    border-radius: 50%;
}


// 新規追加・編集ページ
.swell_settings_balloon_edit {
    margin-bottom: 32px;
    // padding: 32px;
    background: #fdfdfd;
    border-radius: 2px;
    // box-shadow: 0 2px 4px $color_shadow;

    &[disabled] {
        opacity: .5;
        pointer-events: none;
    }

    @media (min-width: 1200px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }


    .c-balloon__text {
        pointer-events: none;
    }

    .c-balloon__icon {
        width: 80px !important;

        img {
            width: 80px !important;
            max-width: 80px !important;
            height: 80px !important;
        }
    }

    .swell_settings_balloon_edit__iconSelect {
        position: absolute;
        left: 0;
        width: 80px;
        height: 80px;
        padding: 0;
        box-shadow: none;

        span {
            position: absolute;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            color: #fff;
            font-size: 12px;
            letter-spacing: .5px;
            background-color: rgba(0, 0, 0, .5);
            visibility: hidden;
        }

        &:hover span {
            visibility: visible;
        }
    }


    .swell_settings_balloon_edit__iconDelete {
        position: absolute;
        top: -13px;
        right: -13px;
        z-index: 10;
        width: 26px;
        min-width: 0 !important;
        height: 26px;
        padding: 0;
        background: #fff;
        border-radius: 50%;

        // &.is-destructive:focus:not(:disabled) {
        //     color: #cc1818;
        //     box-shadow: inset 0 0 0 1px #cc1818;
        // }
    }

    .c-balloon:not(:hover) .swell_settings_balloon_edit__iconDelete {

        @media (min-width: 1200px) {
            display: none;
        }
    }

}

.swell_settings_balloon_edit__inner {

    @media (min-width: 1200px) {

        &.-left {
            flex-basis: 440px;
            padding: 8px;
        }

        &.-right {
            display: flex;
            flex-basis: calc(100% - 500px);
            flex-wrap: wrap;
            align-content: flex-start;
        }
    }
}


.swell_settings_balloon_edit__item {
    min-width: 40%;
    margin-right: 8px;
    padding: 16px 0;
}

.swell_settings_balloon_edit__subttl {
    margin: 0 0 1em;
    padding: 0 0 0 8px;
    padding-left: 8px;
    font-weight: bold;
    font-size: inherit;
    border-left: solid 2px #04384c;
}

