.l-fixHeader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    width: 100%;
    margin-top: var(--swl-adminbar_height, 0);
    visibility: hidden;
    opacity: 0;
    transition: all .5s;

    // &:not([data-ready]) {
    //     opacity: 0 !important;
    // }

    &[data-ready] {
        transition: all .5s;
    }

    @include sp {
        display: none;
    }

    &::before {

        @extend %absLayer;
        display: block;
        background: var(--color_header_bg);
        opacity: var(--fix_header_opacity);
    }


    .l-fixHeader__gnav {
        order: 0;
    }

    [data-scrolled="true"] &[data-ready] {
        top: 0 !important;
        visibility: visible;
        opacity: 1;
    }

    .-body-solid & {
        box-shadow: 0 2px 4px $color_shadow;
    }

}

.l-fixHeader__inner {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
    color: var(--color_header_text);
}

.l-fixHeader__logo {
    display: flex;
    align-items: center;
    order: 0;
    margin-right: 24px;
    padding: 16px 0;
    line-height: 1;
}
