
// グローバルメニュー
// #gnav は PCの #header の中。

.l-header__gnav {

    @include sp {
        display: none;
    }
}

// SPメニューには存在しない。ヘッダー&FIXヘッダーのみの共通コンポーネント
// .c-gnavWrap {}


// メニューの小さいテキスト。c-gnav と c-spnav に存在
.c-smallNavTitle {
    color: inherit;
    font-size: 10px;
    line-height: 1;
    opacity: .6;

    @include pc {
        position: relative;
        top: 4px;
        display: block;
    }

    .sub-menu & {

        display: none;
    }
}

.c-gnav {
    display: flex;
    height: 100%;
    text-align: center;

    .ttl {
        position: relative;
        z-index: 1;
        color: inherit;
        line-height: 1;
    }


    // 親メニュー
    > .menu-item {
        position: relative;
        height: 100%;

        &:hover > .sub-menu {
            visibility: visible;
            opacity: 1;
        }

        > a {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            padding: 0 12px;
            color: inherit;
            white-space: nowrap;

            @media (max-width: 1200px) {
                padding: 0 10px;
            }

            @media (max-width: 1080px) {
                padding: 0 8px;
            }

            .ttl {
                display: block;
                font-size: 14px;
            }

            &::after {
                position: absolute;
                bottom: 0;
                left: 0;
                display: block;
                transition: transform .25s, width .25s, height .25s;
                content: "";
            }

            .c-submenuToggleBtn {
                display: none;
            }
        }

        // 二層目
        > .sub-menu {
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .sub-menu {
        position: absolute;
        z-index: 1;
        width: 15em;
        text-align: left;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
        visibility: hidden;
        opacity: 0;
        transition: opacity .25s, visibility .25s;

        li {
            position: relative;
        }

        .ttl {
            position: relative;
            left: 0;
            font-size: .9em;
            transition: left .25s;
        }

        a {
            position: relative;
            display: block;
            padding: .5em .75em;
            color: inherit;

            &:hover {
                background-color: var(--swl-color_hov_gray);
            }

        }

    }

}

.c-gnav__sBtn {
    // display: flex;
    width: auto;

    .icon-search {
        font-size: 20px;
    }
}
