.l-container {
    max-width: var(--container_size);
    margin-right: auto;
    margin-left: auto;
    padding-right: $pad_container_sp;
    padding-left: $pad_container_sp;

    @include pc {
        padding-right: $pad_container_pc;
        padding-left: $pad_container_pc;
    }
}
