.l-container {
    max-width: var(--container_size);
    margin-right: auto;
    margin-left: auto;
    padding-right: var(--swl-pad_container, 0px);
    padding-left: var(--swl-pad_container, 0px);
}
