.l-mainContent {
    position: static !important; //色々と重要
    width: 100%;

    .-sidebar-on & {

        max-width: 100%;

        @include pc {
            width: calc(100% - 356px);
        }
    }
}
