
// インナーブロックを持つカスタムブロックの中にある、最初と最後のブロックの余白を打ち消す
// .cap_box_content,
.faq_a,
.swell-block-faq,
.swell-block-step,
.swell-block-step__body,
.swell-block-accordion,
.swell-block-accordion__body,
// .swell-block-dl,
// .swell-block-dl__dd,
.swell-block-abTest__a,
.swell-block-abTest__b,
.swell-block-tab__body,
.swell-block-fullWide__inner {

    > .block-editor-inner-blocks > .block-editor-block-list__layout > :first-child,
    &.block-editor-block-list__layout > :first-child {
        margin-top: 0 !important;

        > :first-child {
            margin-top: 0 !important;
        }
    }

    // プレースホルダー状態の時の余白を削除
    .block-editor-default-block-appender__content {
        margin: 0 !important;
    }
}

// インナーブロックのラストのmbを0に。
.cap_box_content,
.faq_a,
.swell-block-step__body,
.swell-block-accordion__body,
// .swell-block-dl__dd,
.swell-block-abTest__a,
.swell-block-abTest__b,
.swell-block-tab__body,
.swell-block-fullWide__inner {

    // 5.6からは選択中しか .block-list-appender が出てこなくなった。
    .block-editor-inner-blocks > .block-editor-block-list__layout > :last-child,
    &.block-editor-block-list__layout > :last-child {
        margin-bottom: 0 !important;

        > :last-child {
            margin-bottom: 0 !important;
        }
    }
}


[data-type="loos/ab-test-a"],
[data-type="loos/ab-test-b"] {
    margin-top: 0 !important;
}

// インナーブロックの最初と最後のマージンを削除
.swl-inner-blocks {

    > :first-child,
    .swell-block-parentSelector + .wp-block {
        margin-top: 0 !important;
    }

    > :last-child {
        margin-bottom: 0 !important;
    }

    // プレースホルダー状態の時の余白を削除
    .block-editor-default-block-appender__content {
        margin: 0 !important;
    }
}
