
// インナーブロックの最初と最後のマージンを削除
.swl-inner-blocks {

    > :first-child,
    .swell-block-parentSelector + .wp-block {
        margin-top: 0 !important;
    }

    > :last-child {
        margin-bottom: 0 !important;
    }

    // プレースホルダー状態の時の余白を削除
    .block-editor-default-block-appender__content {
        margin: 0 !important;
    }
}
