
.swell-block-parentSelector {
    position: absolute;
    top: -8px;
    right: -8px;
    z-index: 10;
    display: none;
    padding: 4px 8px;
    color: #fff;
    font-size: 12px;
    background-color: #04384c;
    border: solid 1px #fff;
    border-radius: 3px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
    opacity: .75;

    &:hover {
        opacity: 1;
    }

    .has-child-selected > div > & {
        display: block;
    }
}


// モバイル表示の時だけ
@media screen and (max-width: 782px) {

    .wp-block-columns,
    .wp-block-column,
    .wp-block-group {

        &.has-child-selected::before {
            position: absolute;
            top: -32px;
            right: 0;
            left: auto;
            z-index: 99;
            display: block;
            width: fit-content;
            padding: 4px 8px;
            color: #fff;
            font-size: 11px;
            line-height: 1.5;
            background-color: #04384c;
            border: solid 1px #fff;
            border-radius: 3px;
            box-shadow: 0 0 8px 0 rgba(0, 0, 0, .2);
            cursor: pointer;
            // opacity: .9;
            content: "親ブロックを選択";

        }

        // [data-align="full"] > &.has-child-selected::before {
        //     right: 0;
        // }
    }

    .wp-block-columns.has-child-selected::before {
        content: "カラム（全体）を選択";
    }

    .wp-block-column.has-child-selected::before {
        content: "カラム（項目）を選択";
    }

    .wp-block-columns.has-child-selected > .wp-block-column.has-child-selected::before {
        box-shadow: none;
    }
}
