@import "../../foundation/mixin/media";

// ページ下固定メニュー
[data-scrolled="true"] #fix_bottom_menu {
    bottom: 0;
}


//メニューバー
#fix_bottom_menu {
    z-index: 100;
    width: 100%;
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);
    transition: bottom .4s;

    @include sp {
        display: block;
    }

    @include sp {
        // .l-footer__innerと同じ値
        padding-bottom: calc(env(safe-area-inset-bottom) * .5);
    }

    &::before {
        // @extend %absLayer;
        z-index: 0;
        display: block;
    }

    .menu_list {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        padding: 2px 0 0;
    }

    .menu_btn .open_btn {
        transform: scale(1.1);
        opacity: 1; //消えるの防止
    }

    .menu-item {
        flex: 1 1 100%;
        margin: 0;
        padding: 0;
        text-align: center;

        a {
            display: block;
            color: inherit;
            line-height: 1;
        }

        i {
            display: block;
            height: 20px;
            color: inherit;
            font-size: 20px;
            line-height: 20px;
            text-align: center;

            &::before {
                display: inline-block;
                color: inherit;
            }
        }

        &.pagetop_btn {

            i {
                transform: scale(1.4);
            }
        }
    }

    span {
        display: block;
        width: 100%;
        margin-top: 4px;
        color: inherit;
        font-size: 10px;
        line-height: 1;
        //letter-spacing: 1px;
    }
}
