// @import "../../foundation/mixin/media";

// ヘッドバー
.l-header__bar {
    position: relative;
    width: 100%;

    .c-catchphrase {
        width: 50%;
        margin-right: auto;
        padding: 4px 0;
        overflow: hidden;
        color: inherit;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: .2px;
        white-space: nowrap;
    }

    .c-iconList {

        .c-iconList__link {
            margin: 0;
            padding: 4px 6px;
        }
    }
}

.l-header__barInner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
