@import "../../foundation/mixin/media";

// 構造：.l-header__spNav > .p-spHeadMenu

// スマホヘッダーメニュー
.p-spHeadMenu {
    // ul.swiper-wrapper
    text-align: center;

    .sub-menu {
        display: none;
    }

    .menu-item {
        flex-shrink: 0;
        // <- li
        width: auto;
        height: 36px;
        padding: 0;
        font-size: 12px;
        border-bottom: solid 2px transparent;
        backface-visibility: hidden;

        &.-current {
            border-bottom-color: currentColor;
        }
    }


    a {
        display: block;
        padding: 0 12px 0;
        line-height: 36px;
        text-decoration: none;
        //padding: 4px;
    }
}

.l-header__spNav {

    @include pc {
        display: none;
    }

    &.swiper:not(.swiper-initialized) .p-spHeadMenu {
        visibility: hidden;
    }

    a {
        color: var(--color_header_text);
    }

    &[data-loop="0"] {

        .p-spHeadMenu {
            display: flex;
            overflow-x: auto;
        }

        .menu-item:first-child {
            margin-left: auto;
        }

        .menu-item:last-child {
            margin-right: auto;
        }
    }
}

