@import "../foundation/mixin/**";

//縦並び
@include pc {

    .-parallel {

        .l-header__inner {
            display: flex;
            flex-wrap: wrap;
            max-width: 100%;
            padding-right: 0;
            padding-left: 0;
        }

        .l-header__logo {
            width: 100%;
            text-align: center;

            .c-catchphrase {
                margin-top: 16px;
                font-size: 12px;
                line-height: 1;
            }
        }

        .l-header__gnav {
            width: 100%;

            .c-gnav {
                justify-content: center;

                & > li > a {
                    padding: 16px 16px;
                }
            }
        }

        .c-headLogo.-txt {
            justify-content: center;
        }

        .w-header {
            justify-content: center;
            margin-top: 8px;
            margin-bottom: 8px;
        }
    }

    .-parallel-bottom {

        .l-header__inner {
            padding-top: 8px;
        }

        .l-header__logo {
            order: 1;
            padding: 16px 0 16px;
        }

        .w-header {
            order: 2;
        }

        .l-header__gnav {
            order: 3;
        }
    }

    .-parallel-top {

        .l-header__inner {
            padding-bottom: 8px;
        }
        // .c-gnav > li > a{
        //     padding-top: 20px;
        // }
        .l-header__gnav {
            order: 1;
        }

        .l-header__logo {
            order: 2;
            padding: 16px 0 16px;
        }

        .w-header {
            order: 3;
        }
    }

    //Fixバーに影響出ないようにするやつ
    .l-header.-parallel {

        .w-header {
            width: 100%;
        }
    }
}
