@import "../foundation/mixin/**";

// 横並び
@include pc {

    .-series {

        .l-header__inner {
            display: flex;
            align-items: stretch;
        }

        .l-header__logo {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-right: 24px;
            padding: 16px 0;

            .c-catchphrase {
                padding: 4px 0;
                //margin-left: 16px;
                font-size: 13px;
            }
        }

        .c-headLogo {
            margin-right: 16px;

            @include tab {
                max-width: 400px;
            }
        }
    }

    .-series-right {

        .l-header__inner {
            justify-content: space-between;
        }

        .c-gnavWrap {
            margin-left: auto;
        }

        .w-header {
            margin-left: 12px;
        }
    }

    .-series-left {

        .w-header {
            margin-left: auto;
        }
    }


}
