
.l-header {
    opacity: 0;
    animation: FadeIn .75s ease 0s 1 normal both;
}

.l-header__bar {
    transform: translateY(-16px);
    opacity: 0;
    animation: FadeInFromY .75s ease .1s 1 normal both;
}

.l-header__inner {
    opacity: 0;
    animation: FadeIn .75s ease .25s 1 normal both;
}


.l-header__spNav {
    opacity: 0;
    animation: FadeIn 1s ease .25s 1 normal both;
}

.l-content {
    opacity: 0;
    animation: FadeIn 1s ease .5s 1 normal both;
}

.l-topTitleArea {
    opacity: 0;
    animation: FadeIn .75s ease .25s 1 normal both;
}

.l-topTitleArea__body {
    opacity: 0;
    animation: FadeIn .75s ease .5s 1 normal both;
}

.c-infoBar {
    opacity: 0;
    animation: FadeIn 1s ease 0s 1 normal both;
}

.c-infoBar__text.-flow-off {
    transform: translateX(-8px);
    opacity: 0;
    animation: FadeInFromX .75s ease .5s 1 normal both;
}

.p-mainVisual {
    opacity: 0;
    animation: FadeIn .75s ease .25s 1 normal both;
}

.p-mainVisual__inner {

    .-type-single & {
        opacity: 0;
        animation: FadeIn 1s ease 0s 1 normal both;
    }

    .-type-slider & {
        transition: opacity .75s, visibility .75s;
        transition-delay: .25s;

        &:not(.show_) {
            visibility: hidden;
            opacity: 0;
        }
    }
}

.p-mainVisual__textLayer {
    opacity: 0;
    animation: FadeIn .75s ease .75s 1 normal both;
}


.p-mvInfo {
    opacity: 0;
    animation: FadeIn .75s ease .25s 1 normal both;
}

.p-postSlider {
    visibility: hidden;
    opacity: 0;
    transition: opacity .75s, visibility .75s;
    transition-delay: .25s;

    &.show_ {
        visibility: visible;
        opacity: 1;
    }
}

.p-breadcrumb {
    opacity: 0;
    animation: FadeIn 1s ease .25s 1 normal both;
}


// タブアニメーション
.swell-block-tab {

    .c-tabBody__item[aria-hidden="false"] {
        animation: tabFadeUp .5s ease 0s 1 normal both;
    }

    //通常タブ
    &.is-style-default .c-tabBody__item[aria-hidden="false"] {
        animation: tabFade .5s ease 0s 1 normal both;
    }

}


// アニメーション
// .l-header__logo,
// .l-header__gnav .c-gnav,
// .w-header{
//     position: relative;
//     opacity: 0;
//     animation: FadeIn .75s ease .5s 1 normal both;
// }
