@import "../foundation/mixin/**";

// #main_visual,
.p-mainVisual {
    position: relative;
    width: 100%;
    overflow: hidden;

    &.-margin-on {
        padding: 8px;

        @include tab {
            padding: 16px;
        }
    }

    &.-height-full {
        height: calc(var(--swl-mv-height, 100vh) - var(--swl-headerH, 0px) - var(--swl-adminbar_height, 0px));

        .p-mainVisual__inner {
            height: 100%;
        }
    }

    .swiper-wrapper {
        //align-items: stretch;
        align-content: stretch;
    }

    .swiper-button-prev {
        left: 0;
    }

    .swiper-button-next {
        right: 0;
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 40px;
        height: 64px;
        margin-top: -32px;
        padding: 8px;
        background: none;
        background: rgba(0, 0, 0, .6);

        @include mobile {
            width: 24px;
            height: 48px;
            margin-top: -24px;
            padding: 8px;
        }

        svg {
            width: 100%;
            height: 100%;

            @include mobile {

                polyline {
                    stroke-width: 24;
                }
            }
        }
    }

}

.p-mainVisual__imgLayer {

    .-motion-leftToRight & {
        transform: scale(1.15);

        @include pc {
            transform: scale(1.1);
        }
    }
}


.-height-img {

    .swiper-lazy:not(.swiper-lazy-loaded) {
        height: 0px;
    }

    .p-mainVisual__imgLayer {
        position: relative;
        height: auto;
    }

    .p-mainVisual__img {
        display: block;
        width: 100%;
        height: auto;
    }
}

.p-mainVisual:not(.-motion-no) {

    .swiper-slide-active .p-mainVisual__imgLayer,
    .swiper-slide-duplicate-active .p-mainVisual__imgLayer,
    .swiper-slide-prev .p-mainVisual__imgLayer {
        animation: var(--mv_slide_animation) 10s linear 0s 1 normal both;
    }
}


.p-mainVisual__inner {
    position: relative;

    .-height-auto & {
        height: auto;
    }
}

.p-mainVisual__video {
    position: relative;
    z-index: -1; //なぜかtext_layerが下に潜ってしまう
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}


.p-mainVisual__slide {
    position: relative;
    height: auto;
    // transform: perspective(0);
    overflow: hidden;
    backface-visibility: hidden;

    .-height-full &,
    .-height-set & {
        height: 100%;
    }
}

.p-mainVisual__slideLink {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.p-mainVisual__textLayer {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);

    @include sp {
        padding: 0 4vw;
    }

    > .p-blogParts {
        margin: 1em 0 0;
        text-align: left;
    }

    .-height-auto & {
        position: relative;
        left: 0;
        padding-top: 4em;
        padding-bottom: 4em;
        transform: none;
    }
}

.p-mainVisual__slideTitle {
    // display: block;
    // font-weight: bold;
    // width: 100%;
    font-size: 5.5vw;
    line-height: 1.4;

    @include tab {
        font-size: 28px;
    }
}

.p-mainVisual__slideText {
    // width: 100%;
    margin-top: .75em;
    font-size: 3.2vw;

    @include tab {
        font-size: 16px;
    }


    .-height-full & {
        font-size: 3.4vw;

        @include tab {
            font-size: 18px;
        }
    }
}

.p-mainVisual__scroll {
    position: absolute;
    bottom: 16px;
    left: 50%;
    z-index: 9; //ページネーションの1つ下
    color: #fff;
    text-align: center;
    transform: translateX(-50%);
    opacity: .75;
    transition: opacity .25s;

    .-height-full > & {
        bottom: 24px;
    }

    &:hover {
        opacity: 1;
    }
}

.p-mainVisual__scrollArrow {
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    animation: FloatVertical 3s ease-in-out infinite alternate;
}

.p-mainVisual__scrollLabel {
    display: block;
    padding-top: 4px;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 1px;
}

// @import "./inc/mvInfo";
