
//ヘッダー透過設定時、かつトップページでしか読み込まれない
@import "../foundation/variable";
@import "../foundation/mixin/**";

#body_wrap {
    padding-top: 0 !important;
}

.c-infoBar {
    display: none;
}

.l-header {
    position: absolute; //SP ではjs での fixedを優先するために important なし。
    top: 0;
    left: 0;
    transition: all .5s;

    @include pc {
        position: absolute !important; //PCでは js で relativeついてしまうので、打ち消すために importantあり。
        background: none;
        box-shadow: none !important;
    }

    &[data-spfix="1"] {

        @include sp {
            position: fixed !important;
        }
    }

    .l-container {
        max-width: 100%;
    }
}

.paged {

    .c-headLogo__img.-top {
        display: none;
    }
}

.l-fixHeader {

    .c-headLogo__img.-common {
        display: block;
    }

    .c-headLogo__img.-top {
        display: none;
    }
}

@include pc {

    .l-header {

        &.-t-fff {

            .l-header__inner {
                color: #fff;
            }

            .c-gnav > li > a::after {
                background: #fff;
            }
        }

        &.-t-000 {

            .l-header__inner {
                color: #000;
            }

            .c-gnav > li > a::after {
                background: #000;
            }
        }
    }

    .c-headLogo__img.-common {
        display: none;
    }
}


.l-header__spNav {
    top: -40px;
    visibility: hidden;
    // opacity: 0; //通常時からある
    transition: top .5s, opacity .5s, visibility .5s;
    animation: none !important;
}

@include sp {

    .l-header.-sp-nofix,
    [data-spfix="0"],
    [data-scrolled="false"] [data-spfix="1"] {
        background: none;
        box-shadow: none;
    }

    [data-spfix="0"] {

        .c-headLogo__img.-common {
            display: none;
        }

        &.-t-fff {

            .l-header__inner {
                color: #fff;
            }
        }

        &.-t-000 {

            .l-header__inner {
                color: #000;
            }
        }
    }

    [data-scrolled="false"] {

        [data-spfix="1"] {
            background: none;
            box-shadow: none;

            .c-headLogo__img.-common {
                display: none;
            }

            &.-t-fff {

                .l-header__inner {
                    color: #fff;
                }
            }

            &.-t-000 {

                .l-header__inner {
                    color: #000;
                }
            }
        }
    }

    [data-scrolled="true"] {

        [data-spfix="1"] .c-headLogo__img.-top {
            display: none;
        }

        [data-spfix="1"] .l-header__spNav {
            top: 0;
            visibility: visible;
            opacity: 1;
        }
    }
}
