@charset "UTF-8";

/**
 * 投稿リスト / コメントエリア のページャーは各番号に .page-numbers
 * 投稿ページのページャーは 各番号に.post-page-numbers
 */

.c-pagination {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 3em 0;
    font-size: 13px;
}

.page-numbers[data-apart="2"]:not(:first-child):not(:last-child) {

    @include mobile {
        display: none;
    }
}

[class*="page-numbers"] {
    position: relative;
    display: block;
    box-sizing: content-box;
    width: auto;
    min-width: 36px;
    height: 36px;
    margin: 6px;
    padding: 0;
    font-size: 14px;
    line-height: 36px;
    text-align: center;
    text-decoration: none;
    transition: color .25s, background-color .25s;

    .-body-solid & {

        @extend %btnShadow;
    }

    &:hover,
    &.current {
        color: #fff;
        background-color: var(--color_main);
    }
}

// ...の部分
.c-pagination__dot {
    margin: 0 6px;
    color: #aaa;
}


// comment
// .next, .prev{}
