// @import "../setting";
// @import "../mixin/**";

// タームページ
.p-termHead {
    position: relative;
    margin-top: 3rem;
    border: solid 1px var(--color_border);

    @include tab {
        display: flex;
    }
}

.p-termHead__thumbWrap {
    width: 100%;
}

.p-termHead__desc {
    width: 100%;
    padding: 1.5em;
}

.p-termContent {
    margin-top: 4em;

    > .p-blogParts {
        margin-bottom: 4em;
    }
}

.p-authorContent,
.p-homeContent,
.p-termContent {

    > :first-child {
        margin-top: 0;
    }
}
