
.p-articleThumb {
    width: 100%;
    margin: 2em 0;
    text-align: center;

    // &.-youtube {}
}


.p-articleThumb__youtube {
    position: relative;
    height: 0;
    padding-bottom: 56.25%; // 高さをpaddingで指定(16:9)

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.p-articleThumb__img {
    display: block;
    width: 100%;
}

.p-articleThumb__figcaption {
    margin-top: .75em;
    font-size: .9em;
    text-align: center;
}
