.p-commentArea {

    padding: 1.5em;
    background: var(--color_gray);

    @include pc {
        padding: 2em;
    }
}

.p-commentArea__title {
    margin-bottom: 2em;
    padding-bottom: .75em;
    border-bottom: dashed 1px $color_border;

    &::before {
        margin-right: .5em;
        font-size: 4vw;
        vertical-align: bottom;

        @include tab {
            font-size: 18px;
        }
    }
}


// #comments{}

.c-commentList {
    margin-bottom: 2em;

    .children {
        margin-top: 1em;
        margin-left: 1.5em;
        padding: 1em 0 0 1.5em;
        border-left: solid 1px $color_border;
    }

    .comment {
        margin-bottom: 2em;
    }
}

.comment-author {
    display: flex;
    align-items: center;
    margin-left: -8px;

    .avatar {
        border-radius: 50%;
    }

    .fn {
        //コメ主名前
        margin-left: .5em;
    }

    .says {
        //「より」
        display: none;
    }
}

// .comment-meta {}

//日付
.comment-metadata {
    margin: .5em 0;
    color: #666;
    font-size: 11px;
}

// .reply{}
.comment-reply-link {
    padding: 4px 8px;
    color: #fff;
    font-size: 12px;
    background: #aaa;
}

.comment-body {
    padding-left: 8px;

    a {

        &::before {
            content: none;
        }
    }
}

.comment-content {

    & > * {
        margin-bottom: 1em;
    }

    blockquote {
        padding: .5em 1em;
    }
}

// 入力エリア
.comment-respond {

    p {
        margin-bottom: 1em;

    }

    label {
        display: block;
        margin-bottom: .25em;
        font-size: .9em;
    }

    #email,
    #url,
    #author,
    #comment {
        width: 100%;
        background: #fff;
        -webkit-appearance: none;
    }

    // textarea,
    // [type="text"],
    // [type="email"],
    // [type="url"] {
    //     width: 100%;
    //     background: #fff;
    // }

    #submit {
        margin: 1em 0 0;
        padding: .5em 1.5em;
        color: #fff;
        border: none;
        -webkit-appearance: none;
    }
}

#cancel-comment-reply-link {
    margin-left: 2em;
    padding: .5em;
    color: #666;
    font-size: 13px;
    font-style: italic;
    background: #fff;
    border: solid 1px $color_border;
    border-radius: 3px;

    &:hover {
        color: #fff;
        background: #666;
        transition: .25s;
    }
}

.comment-form-cookies-consent {
    display: flex;
    align-items: center;
    line-height: 1.2;
}

#wp-comment-cookies-consent {
    margin-right: 8px;
    transform: scale(1.2);
}
