// プロフィールウィジェット
.p-profileBox {
    padding: 4px;
    border: solid 1px var(--color_border);
}

.p-profileBox__bg {
    width: 100%;
    height: 160px;
    background: #ccc;
}

.p-profileBox__bgImg {
    display: block;
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.p-profileBox__icon {
    margin-top: 1em;
    text-align: center;
}

.p-profileBox__iconImg {
    width: 120px;
    height: 120px;
    object-fit: cover;
    background: #fdfdfd;
    border: solid 4px #fdfdfd;
    border-radius: 50%;
}

.p-profileBox__bg + .p-profileBox__icon {
    margin-top: -60px;
}

.p-profileBox__name {
    padding-top: .5em;
    text-align: center;
}

.p-profileBox__job {
    padding: 0 1em;
    font-size: 3.2vw;
    text-align: center;

    @include tab {
        font-size: 12px;
    }
}

.p-profileBox__text {
    padding: 1em 1em;
    font-size: 3.4vw;

    @include tab {
        font-size: 14px;
    }
}

.p-profileBox__btn {

    // [class*="is-style-btn_"]に負けないように優先度高くする
    .p-profileBox & {
        margin: 1.5em auto .5em;
    }

    .p-profileBox__btnLink {
        color: #fff;
    }
}


.p-profileBox__iconList {
    padding: .5em 0 1em;

    .-feedly,
    .-rss {
        display: none;
    }
}
