// FBボックス
.p-snsCta {
    position: relative;
    width: 100%;
    margin: 2em auto;
    overflow: hidden;
    color: #fff;
    text-align: center;
    background: #1d1d1d;

    .fb-like {
        // 微妙な余白ができることを踏まえた調節
        margin: 2px 4px;
    }

    .twitter-follow-button,
    .c-instaFollowLink {
        margin: 2px 8px;
    }

    .fb-like,
    .c-instaFollowLink {

        &:hover {
            opacity: .8;
        }
    }

    .fb-like > span {
        display: block;
    }
}


.p-snsCta__body {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 40vw;
    padding: 1em;
    background: rgba(0, 0, 0, .7);

    @include tab {
        min-height: 200px;
    }
}

.p-snsCta__figure {

    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
}


.p-snsCta__message {
    // width: 100%;
    margin-bottom: 1em;
    font-size: 3.2vw;

    @include tab {
        font-size: 16px;
    }
}

.p-snsCta__btns {
    display: flex;
    flex-wrap: wrap;
    // align-items: center;
    justify-content: center;
}


.c-instaFollowLink {
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 20px;
    padding: 0 6px;
    overflow: hidden;
    color: #fff;
    font-size: 11px;
    line-height: 1;
    text-decoration: none;
    background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat; // グラデーション
    border-radius: 3px;


    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(15deg, #ffdb2c, rgb(249, 118, 76) 25%, rgba(255, 77, 64, 0) 50%) no-repeat;
        content: "";
    }

    i {
        margin-right: 4px;
        font-size: 12px;
    }

    i,
    span {
        position: relative;
        z-index: 1;
        white-space: nowrap;
    }
}

