// グループブロック
.wp-block-group {

    &.sp_only,
    &.pc_only {

        .wp-block-group__inner-container {
            position: relative;

            &::before {
                position: absolute;
                top: -8px;
                right: -8px;
                z-index: 10;
                padding: 0 8px;
                color: #fff;
                font-size: 12px;
                background-color: #04384c;
                border-radius: 2px;
            }
        }
    }

    &.sp_only {

        .wp-block-group__inner-container::before {
            content: "SPのみ";
        }
    }

    &.pc_only {

        .wp-block-group__inner-container::before {
            content: "PCのみ";
        }
    }
}
