//画像
.wp-block-image {
    text-align: center;

    .wp-block-column > & {
        max-width: 100% !important;
    }

    &.is-resized,
    &.is-resized .editor-rich-text {
        display: block !important;
    }

    &.is-style-desktop {
        display: flex !important;
    }

    .components-resizable-box__container {
        max-width: 100% !important;
        height: auto !important;
    }
}

// 左寄せ・右寄せの調節
// .editor-block-list__layout .editor-block-list__block[data-align="left"] > .editor-block-list__block-edit,
// .editor-block-list__layout .editor-block-list__block[data-align="right"] > .editor-block-list__block-edit {
//     max-width: 100% !important;
// }

.wp-block-image.is-style-border img,
.wp-block-video.is-style-border video {
    border: solid 1px rgba(0, 0, 0, .1);
}


.wp-block-image.is-style-photo_frame img,
.wp-block-video.is-style-photo_frame video {
    border: solid 4px #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);

    @include pc {
        border: solid 6px #fff;
    }
}


.wp-block-image.is-style-shadow img,
.wp-block-video.is-style-shadow video {

    @extend %imageShadow;
}


// スタイルプレビューで影などを濃くする
.block-editor-block-preview__container {

    // 分かりにくいので濃いめに。
    .wp-block-image.is-style-shadow img,
    .wp-block-video.is-style-shadow video {
        box-shadow: 0 2px 16px 1px rgba(0, 0, 0, .5), 0 4px 4px -4px rgba(0, 0, 0, .25);
    }

    // 分かりにくいので濃いめに。
    .wp-block-image.is-style-photo_frame img,
    .wp-block-video.is-style-photo_frame video {
        border: solid 16px #fff;
        box-shadow: 0 0 0 2px rgba(0, 0, 0, .5);
    }

    // 分かりにくいので濃いめに。
    .wp-block-image.is-style-border img,
    .wp-block-video.is-style-photo_frame video {
        border-width: 8px;
    }
}
