// コアのライブラリCSSを上書き
.editor-styles-wrapper {

    .swell-block-step__body [data-block] {
        margin-top: 32px;
        margin-bottom: 32px;
    }

    .swell-block-step {

        // &__item {
        //     padding-bottom: 1em;
        // }

        // エディター側ではflex無効にする
        &:not(.is-style-big):not(.is-style-small) .swell-block-step__title {
            display: block;
            padding-top: 8px;
        }
    }
    // ちらつき防止
    .is-style-big .swell-block-step__number,
    .is-style-small .swell-block-step__number {
        background: none !important;
    }

    [data-type="loos/step-item"]:first-child .swell-block-step__item::after,
    [data-type="loos/step-item"]:last-child .swell-block-step__item::before {
        content: none;
    }
}

// 本文編集エリアのみ
.block-editor-writing-flow {

    [data-type="loos/step-item"] {
        margin-top: 24px;
        margin-bottom: 24px;
    }

    [data-type="loos/step-item"]:not(.is-selected) {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .is-style-big [data-type="loos/step-item"]:not(.is-selected) .swell-block-step__item {
        margin-top: -1px;
    }


    .swell-block-step {

        // デフォルトスタイルのみ
        &:not(.is-style-big):not(.is-style-small) {

            .swell-block-step__title {
                padding-top: 8px;
            }

            // .swell-block-step__item{
            //     padding-bottom: ;
            // }
        }
    }
}


// プレビューエリア
.block-editor-block-preview__container {

    .is-style-big .swell-block-step__number,
    .is-style-small .swell-block-step__number {
        color: var(--color_main) !important;
    }


    .swell-block-step__number .__label,
    .is-style-small .swell-block-step__number .__shape {
        display: block !important;
    }
}
