// アコーディオン
.editor-styles-wrapper {

    .swell-block-accordion__item {
        margin: 0;

        + .swell-block-accordion__item {
            margin-top: .5em;
        }
    }

    .swell-block-accordion__body {
        overflow: visible;
    }

    .is-style-simple .swell-block-parentSelector + .swell-block-accordion__item {
        border-top: 1px solid var(--swl-color_border);
    }
}
