.editor-styles-wrapper {

    [data-type="loos/dl"] {

        [data-type="loos/dt"] {
            margin-bottom: 1em;
        }

        [data-type="loos/dd"] {
            margin-top: 1em;
            margin-left: 1.5em;
        }

        .swell-block-dl__dd {
            padding: 1px;
        }
    }

    .is-style-border {

        .swell-block-dl__dt {
            padding-left: .75em;
            border-left: solid 1px;
        }
    }

    .is-style-vtabel {

        .swell-block-dl__dt {
            margin-top: 0;
            padding: .5em 1em;
            color: #fff;
        }

        .swell-block-dl__dd {
            margin-left: 0;
            padding: 1em;
            border: solid 1px var(--color_border);
        }

        [data-type="loos/dt"] {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }

        [data-type="loos/dd"] {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
            margin-left: 0 !important;

            .swell-block-dl__dd {
                padding-bottom: 1.5em;
            }
        }
    }

    // 横並び
    .is-style-float {

        &.wp-block[data-type="loos/dl"] {

            // clearfix用スタイルが原因で、エディタ側でブロックを選択した時の青枠が表示されないためスタイルを一部打ち消す
            &::after {
                height: auto;
                visibility: visible;
            }

            .block-editor-block-list__layout::after {
                display: block;
                clear: both;
                height: 0;
                visibility: hidden;
                content: "";
            }
        }

        .wp-block[data-type="loos/dt"] {
            float: left;
            clear: both;
            width: 25%;
            margin: 0 !important;
            padding: .25em 2.5em .25em 0;
        }

        .wp-block[data-type="loos/dd"] {
            float: right;
            clear: none;
            width: 75%;
            margin: 0 !important;
        }

        .block-list-appender {
            clear: both;
        }
    }
}
