.block-editor-writing-flow {

    .swell-block-bannerLink {

        .c-bannerLink {

            &__title {
                min-width: 40px;
                padding: 2px .25em;
                border: 1px dashed $color_border;
            }

            .editor-rich-text {
                width: 100%;
            }

            &__description {
                min-width: 40px;
                padding: 0 .25em;
                font-size: .95em;
                border: 1px dashed $color_border;
            }
        }
    }
}
