.swell-block-columns {
    display: block !important;

    & > .editor-inner-blocks > .editor-block-list__layout {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        // loos/columns以外もある
        & > [data-type] {
            min-width: 20px;
            margin-right: 0;
            margin-left: 0;
        }
    }

    .swell-block-columns__item {
        padding: 1px 0;

        .swell-block-columns__body {

            & > .editor-inner-blocks > .editor-block-list__layout {

                & > :first-child > .editor-block-list__block-edit > [data-block] {
                    margin-top: 0 !important;
                }

                & > :nth-last-child(2) > .editor-block-list__block-edit > [data-block] {
                    margin-bottom: 0 !important;
                }
            }
        }
    }

    .block-list-appender {
        flex-basis: 100% !important;
    }

    &[data-columns-layout="2"] {

        & > .editor-inner-blocks > .editor-block-list__layout > [data-type] {
            // flex-basis: 50%;
        }
    }
}
