[data-type="loos/blog-parts"] {
    border-top: solid 1px #38a7d3;
    border-bottom: solid 1px #38a7d3;

    .swellBlock__preview {

        .p-blogParts {
            margin-bottom: 0 !important;
        }
    }
}
