/* --------------------------------------
	Font Weight
-------------------------------------- */
.u-fw-bold {
    font-weight: bold !important;
}

.u-fw-normal {
    font-weight: normal !important;

}

.u-fw-lighter {
    font-weight: lighter !important;
}

/* --------------------------------------
	Color
-------------------------------------- */
.u-col-main {
    color: var(--color_main) !important;
}

.u-thin {
    opacity: .8;
}
