// fs_系は ブロックのツールバーでも使っているので消せない。

// 相対サイズ
.fs_xs,
.u-fz-xs,
.has-xs-font-size {
    font-size: .7em;
}

.fs_s,
.u-fz-s,
.has-s-font-size,
.has-small-font-size {
    font-size: .9em;
}

// .u-fz-n,
.has-normal-font-size,
.has-regular-font-size {
    font-size: 1em;
}

.u-fz-m,
.has-medium-font-size {
    font-size: 1.1em;
}

.fs_l,
.u-fz-l,
.has-l-font-size,
.has-large-font-size {
    font-size: 1.2em;
}

.fs_xl,
.u-fz-xl,
.has-xl-font-size,
.has-huge-font-size {
    font-size: 1.6em;
}

// 固定サイズ
.u-fz-10 {
    font-size: 10px;
}

.u-fz-11 {
    font-size: 11px;
}

.u-fz-12 {
    font-size: 12px;
}

.u-fz-13 {
    font-size: 13px;
}

.u-fz-14 {
    font-size: 14px;
}

.u-fz-15 {
    font-size: 15px;
}

.u-fz-16 {
    font-size: 16px;
}

.u-fz-17 {
    font-size: 17px;
}

.u-fz-18 {
    font-size: 18px;
}
