@import "../../foundation/mixin/media";


.lp {

    #fix_index_btn {
        display: none;
    }
}

// .lp-headContent {}

.lp-thumb {

    &__img {
        width: 100%;
    }
}

#lp-content {
    box-sizing: content-box;
    margin: 0 auto;
    padding: 0 3%;

    @include pc {
        padding: 0 8px;
    }
}

.lp-content {

    h1 {
        margin-bottom: 1em;
        font-size: 2em;
    }

    // フレーム付きの時のスタイル
    &:not(.-style-no) {

        .lp-content__inner {
            overflow: hidden;
            background: #fff;
        }

        .post_content {
            padding: 0 48px;

            @include sp {
                padding: 0 3vw;

                > h2 {
                    margin-right: -3vw;
                    margin-left: -3vw;
                }
            }
        }

        .alignwide {

            @include pc {
                left: -24px;
                width: calc(100% + 48px);
            }
        }

        // alignfull。 -frame-on.css でも同じCSSを書いている。
        .alignfull {

            @include sp {
                left: -3vw;
                width: calc(100% + 6vw);
            }

            @include pc {
                left: -48px;
                width: calc(100% + 96px);
            }
        }

        //フルワイドブロックの「記事幅」の時のコンテンツ幅
        .swell-block-fullWide__inner.l-article {

            @include pc {
                padding-right: 48px;
                padding-left: 48px;
            }
        }
    }
}

.lp-content__title {
    font-size: 2em;
    text-align: center;
}

.lp-content__inner {
    position: relative;

    .-style-border & {
        border: solid 1px var(--swl-color_border);
    }

    .-style-shadow & {
        box-shadow: 4px 0 4px -4px var(--swl-color_shadow), -4px 0 4px -4px var(--swl-color_shadow);
    }
}

.lp-content__postContent {
    margin-bottom: 0;

    &:first-child {
        margin-top: 0;
    }
}
