@charset "UTF-8";
@import "foundation/variable";
@import "foundation/mixin/**";
@import "foundation/placeholder";
@import "foundation/plugins/icomoon";

// root
@import "foundation/root";

//
@import "object/utility/**";
@import "admin/_*.scss";

// mac 新OSで見るとチェックボックスが青くつぶれている
// input[type=radio],
//.customize-control input[type=checkbox]
input[type="checkbox"] {
    -webkit-appearance: none !important;
}

.cf::after {
    display: block;
    clear: both;
    height: 0;
    content: "";
}

p.description {
    margin: 8px 0;
}

// SWELL設定のアイコン
#toplevel_page_swell_settings {

    .menu-top .wp-menu-image::before {
        font-family: icomoon;

        @extend .icon-swell::before;
    }
}

/* メタボックス */

// メニューの「ブロックエディター / 旧エディター」がうざいから消す
#nav-menus-frame .post-state {
    display: none;
}


// IEアラート
.ie-alertbox {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 99999;
    box-sizing: border-box;
    width: 880px;
    max-width: 100%;
    height: 400px;
    max-height: 100%;
    padding: 2em;
    pointer-events: none;

    * {
        box-sizing: border-box;
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        background: rgb(0, 0, 0);
        opacity: .4;
        content: "";
    }

    .__inner {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        padding: 2em;
        text-align: center;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            width: 100%;
            height: 100%;
            background: rgb(185, 43, 0);
            opacity: .8;
            content: "";
        }
    }

    .__body {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        color: #fff;
        font-family: Meiryo, sans-serif;
        line-height: 1.5;
    }

    .__title {
        margin-bottom: 1em;
        font-weight: bold;
        // font-size: 32px;
        font-size: 24px;
    }

    .__text {
        // font-size: 20px;
        font-size: 16px;

        a {
            color: #6bbaff;
            pointer-events: auto;
        }
    }
}
