%ulchild_L {
    position: absolute;
    top: 0;
    left: .25em;
    // width: .25em;
    width: 6px;
    height: calc(1em - 2px);
    color: inherit;
    background: none;
    border-bottom: solid 2px;
    border-left: solid 2px;
    border-radius: 0;
    box-shadow: none;
    transform: none;
    transform: scale(.75);
    transform-origin: 50% 100%;
    opacity: .75;
    content: "" !important;
}


// .has-swell-style{}

// スタイル付きリスト
.post_content {

    .is-style-index,
    .is-style-check_list,
    .is-style-good_list,
    .is-style-bad_list,
    .is-style-num_circle,
    .is-style-note_list {
        padding-left: .5em;
        list-style: none;
    }
}

// スタイル付きリスト
ul:not(.is-style-default)[class*="is-style-"],
ol:not(.is-style-default)[class*="is-style-"] {

    // ...
    // ここにスタイル当てちゃうと wp-block-social-links のスタイルありとかにも影響してしまう
    // ...

    &.has-background {
        padding: 1.5em;
    }

    ul,
    ol {
        padding-left: 0;
        list-style: none;
    }
}

ol:not(.is-style-default)[class*="is-style-"] {
    counter-reset: li;

    > li::before {
        counter-increment: li;
    }

    &[reversed] {

        > li::before {
            counter-increment: li -1;
        }
    }
}
// .is-style-index,
// .is-style-check_list,
// .is-style-good_list,
// .is-style-bad_list,
// .is-style-num_circle,
// .is-style-note_list {
//     list-style: none !important;

//     .post_content > & {

//         @include pc {
//             padding-left: .5em;
//         }
//     }


//     ul:not([class]),
//     ol:not([class]) {
//         padding-left: 0;
//         list-style: none !important;
//     }
// }

ul.is-style-index {

    li {
        position: relative;
        padding-left: 1.25em;

        &::before {
            position: absolute;
            top: calc(.75em - 3px);
            left: 2px;
            display: block;
            width: 6px;
            height: 6px;
            color: inherit;
            // background-color: var(--color_main);
            background-color: currentColor;
            border-radius: 50%;
            content: "";
        }

        li {

            &::before {

                @extend %ulchild_L;
            }
        }
    }
}

ol.is-style-index {

    list-style-type: none;

    > li,
    ol > li {
        position: relative;
        margin-left: 2em;
        padding-left: 0;

        &::before {
            position: absolute;
            top: .25em;
            right: calc(100% + .5em);
            display: block;
            width: auto;
            padding: 0 .5em 0 0;
            font-family: inherit;
            line-height: 1.1;
            letter-spacing: -.1px;
            white-space: nowrap;
            border-right: solid 1px currentColor;
            transform: scale(.95);
            content: counter(li);
            counter-increment: li;
        }
    }

    ol {
        padding-left: 1em;
        counter-reset: li2;

        > li {
            // margin-left: 2em;

            &::before {
                opacity: .75;
                content: counter(li) "-" counter(li2);
                counter-increment: li2;
            }
        }

        ol {
            counter-reset: li3;

            > li {
                // margin-left: 2.25em;

                &::before {
                    opacity: .75;
                    content: counter(li) "-" counter(li2) "-" counter(li3);
                    counter-increment: li3;
                }
            }
        }
    }

    ul li {
        margin-left: 0;
        padding-left: 1.25em;

        &::before {
            counter-increment: none;

            @extend %ulchild_L;
        }
    }
}

.is-style-check_list,
.is-style-good_list,
.is-style-bad_list {

    li {
        padding-left: 1.75em;

        &::before {
            position: absolute;
            top: 0;
            left: .25em;
            display: block;
            width: 1em;
            height: auto;
            // color: var(--color_main);
            font-family: icomoon;
            background: none;
            border: none;
            border-radius: 0;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        li::before {
            opacity: .8;
        }
    }
}

.is-style-check_list li::before {
    color: var(--color_list_check);

    @extend .icon-check::before;
}

.is-style-good_list li::before {
    color: var(--color_list_good);

    @extend .icon-circle::before;
}

.is-style-bad_list li::before {
    color: var(--color_list_bad);

    @extend .icon-batsu::before;
    // color: #f36060;
}

.is-style-note_list {
    font-size: .9em;

    li {
        margin: .5em 0;
        padding-left: 1.5em;
        opacity: .8;

        &::before {
            //font-family: 'icomoon';
            position: absolute;
            top: 0;
            left: 0;
            height: auto;
            white-space: nowrap;
            background: none;
            border: none;
            border-radius: 0;
            transform: scale(.75);
            transform-origin: 0 50%;
            content: "※";
        }
    }
}

ol.is-style-note_list {

    li {
        padding-left: 1.75em;

        &::before {
            letter-spacing: 1px;
            content: "※" counter(li);
            counter-increment: li;
        }
    }
}

.is-style-num_circle {
    // counter-reset: li;

    li {
        padding-left: 2em;

        &::before {
            position: absolute;
            top: -.25em;
            left: 1px;
            display: block;
            box-sizing: content-box;
            width: 2em;
            height: 2em;
            padding: 0;
            color: #fff;
            line-height: 2;
            text-align: center;
            background-color: var(--color_list_num);
            border-radius: 50%;
            box-shadow: 0 0 0 1px var(--color_list_num);
            transform: scale(.68);
            transform-origin: 0% 50%;
            content: counter(li);
        }
    }


    ol {
        counter-reset: li2;

        // 子要素は塗り潰しではなくボーダー
        li::before {
            color: var(--color_list_num);
            background: none;
            box-shadow: 0 0 0 1px var(--color_list_num);
            opacity: .75;
        }

        > li::before {
            content: counter(li2);
            counter-increment: li2;
        }

        ol {
            counter-reset: li3;

            > li::before {
                content: counter(li3);
                counter-increment: li3;
            }
        }
    }

    ul {

        li {
            padding-left: 1.25em;

            &::before {

                @extend %ulchild_L;
            }
        }
    }
}

.border_bottom,
.-list-under-dashed {

    > li {
        margin-bottom: .75em;
        padding-bottom: .75em;
        border-bottom: dashed 1px $color_border;
    }
}

ul.-list-flex,
ol.-list-flex {
    display: flex;
    flex-wrap: wrap;
}

.-list-flex > li {
    margin-right: 1em;
}
