//リッチカラム
.swell-block-columns {
    --swl-fb: 100%;
    --swl-fb_tab: 50%;
    --swl-fb_pc: 50%;
    --swl-clmn-mrgn--x: 1.5rem;
    --swl-clmn-mrgn--y: 1.5rem;
    --swl-clmn-pddng: 0;


    &.alignfull {
        margin-right: 0;
        margin-left: 0;
    }

    &[data-valign="top"] {
        align-items: flex-start;
    }

    &[data-valign="center"] {
        align-items: center;
    }

    &[data-valign="bottom"] {
        align-items: flex-end;
    }

}

//リッチカラム
.swell-block-columns__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 0 !important;
    margin-left: calc(-1 * var(--swl-clmn-mrgn--x));
}

.swell-block-column {

    // 詳細度強めておく
    .swell-block-columns & {
        width: calc(var(--swl-fb) - var(--swl-clmn-mrgn--x));
        margin: 0 0 var(--swl-clmn-mrgn--y) var(--swl-clmn-mrgn--x);
        padding: var(--swl-clmn-pddng);

        @include tab {
            width: calc(var(--swl-fb_tab) - var(--swl-clmn-mrgn--x));
        }

        @include pc {
            width: calc(var(--swl-fb_pc) - var(--swl-clmn-mrgn--x));
        }

    }


    &[data-valign="top"] {
        align-self: flex-start;
    }

    &[data-valign="center"] {
        align-self: center;
    }

    &[data-valign="bottom"] {
        align-self: flex-end;
    }

    &.is-breadk-all {
        word-break: break-all;
    }
}


// シャドウスタイル
.is-style-clmn-shadow {
    --swl-clmn-pddng: 1rem;


    > .swell-block-columns__inner > .swell-block-column {
        color: #333;
        background-color: #fff;

        @extend %boxShadow;
    }
}

.is-style-clmn-border {
    --swl-clmn-pddng: 1rem;

    > .swell-block-columns__inner > .swell-block-column {
        border: solid 1px var(--swl-color_border);
    }
}
